:host {
    min-height: 300px;
}

.grid-container {
    min-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 10px;
}

button {
    min-width: 60px;
    min-height: 60px;
    display: grid;
}
