:host {
    min-height: 300px;
}

.grid-container {
    min-width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    min-width: 96px;
    min-height: 96px;
    align-items: center;
    font-size: xx-large;
}
